<div class="form">
  <form action="" method="post">

    <label for="name" id="name_label">Author:</label>
    <input type="text" name="name" id="name" placeholder="Eric Trotchie"></label>
    <label for="title" id="title_label">Title:</label>
    <input type="text" name="title" id="title">
    
    <label for="list">List
      <input type="checkbox" name="list" id="list" value="List">
    </label>
    
    <label for="comment">
      <textarea name="comment" id="comment" cols="20" rows="4" placeholder="notes"></textarea>
    </label>
  </form>
</div>