body {
  background-color: antiquewhite;
}

.main-content {
  width: 100vh;
  height: 100vw;
  display: flex;
}

.notes {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note {
  width: 600px;
  background-color: aqua;
  margin-top: 30px;
}

.note:nth-child(1) {
  margin-top: 0px;
}
